<%- include('includes/header') %>

<body>
    <%- include('includes/nav') %>
    
    <section id="header">
        <div class="container">
            <div class="row py-4 my-4">
                <div class="col-12 text-center mx-auto"><img src="../assets/images/Logo2.png" width="180px" alt=""></div>
                <div class="col-12 py-4">
                    <blockquote class="blockquote text-center">
                        <h1 class="mb-0 display-5 font-weight-normal">กินอะไรดี ที่มอดังย่านบางมด?</h1>
                    </blockquote>
                    <div class="col-lg-4 text-center mx-auto mt-4">
                        <button class="btn btn-primary btn-block rounded-0 rounded-shadow">ค้นหาเลย 🔍</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recommended-menus">
        <div style="background-color: rgba(0, 0, 0, 0.05)">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h5 class=""><span class="text-primary"><i class="fas fa-star"></i></span> แนะนำเมนูเด็ด</h5>
                        <div class="row d-flex justify-content-center">
                            <% 
                                if (typeof(recommendsMenus) != 'undefined') {
                                    recommendMenus.forEach((menu) => { 
                            %>
                                <img class="mr-2 mb-2" src="<%= menu.imgUrl %>" style="object-fit: cover" width="180px" height="180px">
                            <% }); } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="menus-ranking">
        <div class="container py-5">
            <h3 class="mb-3"><i class="fas fa-trophy text-primary"></i> 4 อันดับร้านเด็ด</h3>
            <div class="row">
                <% 
                    if (typeof(recommendShops) != 'undefined') {
                        recommendShops.forEach((shop) => { 
                %>
                    <div class="col-lg-3 col-md-6">
                        <div class="card box-shadow-1 mb-sm-3">
                            <img class="card-img-top" src="<%= shop.imgUrl %>" style="object-fit: cover" width="300" height="200" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><%= shop.title %></h5>
                                <p class="card-text"><%= shop.info %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="<%= shop.reviewUrl %>" class="btn btn-outline-primary btn-sm ">อ่านรีวิว</a>
                                    <small class="text-muted"><i class="far fa-star"></i> <%= shop.rating %> <i class="far fa-comments"></i> <%= shop.review %> รีวิว</small>
                                </div>
                            </div>
                        </div>
                    </div>
                <% })}; %>
            </div>
        </div>
    </section>

    <footer class="py-3" style="background-color: rgba(0, 0, 0, 0.05)">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="text-muted">Copyright <i class="fas fa-copyright"></i> 2020 EatMod. All Rights Reserved</small>
                    <small class="text-muted float-right align-middle">This website is a part of the CPE101 project.</small>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>