<%- include('includes/header') %>

<body>
    <%- include('includes/nav') %>
    
    <section id="index-header">
        <div class="container">
            <div class="row py-4 my-4">
                <div class="col-12 text-center mx-auto"><img src="../assets/images/Logo2.png" width="180px" alt=""></div>
                <div class="col-12 py-4">
                    <blockquote class="blockquote text-center">
                        <h1 class="mb-0 display-5 font-weight-normal">กินอะไรดี ที่มอดังย่านบางมด?</h1>
                    </blockquote>
                    <div class="col-lg-4 text-center mx-auto mt-4">
                        <button class="btn btn-lg btn-grad-primary btn-block rounded-0 rounded-shadow" data-toggle="modal" data-target="#findMenu">ค้นหาเลย 🔍</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recommended-menus" style="background: rgb(254,149,123);
    background: linear-gradient(22deg, rgba(254,149,123,1) 0%, rgba(255,96,57,1) 100%);">
        <div style="background-color: rgba(0, 0, 0, 0.05)">
            <div class="container pt-4 mb-2">
                <div class="row mt-3">
                    <div class="col-lg-12">
                        <div class="d-flex flex-row align-items-center justify-content-between mb-3">
                            <h5 class="text-white"><i class="fas fa-star text-primary"></i> แนะนำเมนูเด็ด</h5>
                            <a class="text-white" href="./food">ดูทั้งหมด >></a>
                        </div>

                        <div class="row d-flex justify-content-center pb-3">
                            <% 
                                if (typeof(recommendMenus) != 'undefined') {
                                    recommendMenus.forEach((menu) => { 
                            %>
                                <div class="mx-2 mb-4">
                                    <a href="<%= menu.shop_url %>">
                                        <div class="position-relative">
                                            <img src="<%= menu.image_url %>" style="object-fit: cover;" width="160rem" height="160rem">
                                            <div class="overlay"><p class="overlay-text"><i class="fas fa-search"></i> ดูร้าน</p></div>
                                        </div>
                                    </a>
                                </div>
                            <% }); } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="recommended-shops">
        <div class="container pt-4 pb-4">
            <div class="mt-3 d-flex flex-row align-items-center justify-content-between mb-3">
                <h3>ร้านอาหารแนะนำ</h3>
                <a href="./shop">ดูทั้งหมด >></a>
            </div>
            <div class="row mb-1">
                <% 
                    if (typeof(recommendShops) != 'undefined') {
                        recommendShops.forEach((shop) => { 
                %>
                    <div class="col-lg-3 col-md-6">
                        <div class="card box-shadow-1 mb-4 mb-lg-4">
                            <img class="card-img-top" src="<%= shop.imgUrl %>" style="object-fit: cover" width="300" height="200" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-primary mb-1"><%= shop.name %></h5>
                                <p class="card-text text-muted"><%= shop.type %></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="<%= shop.reviewUrl %>" class="btn btn-primary btn-sm ">อ่านรีวิว</a>
                                    <small class="text-muted"><i class="far fa-star"></i> <%= shop.rating %> <i class="far fa-comments"></i> <%= shop.review %> รีวิว</small>
                                </div>
                            </div>
                        </div>
                    </div>
                <% })}; %>
            </div>
        </div>
    </section>

    <section id="instagram-feeds">
        <div style="background-color: rgba(0, 0, 0, 0.05)">
            <div class="container pt-4 pb-4">
                <div class="mt-3 d-flex flex-row align-items-center justify-content-between mb-3">
                    <h3> Instagram Feeds</h3>
                </div>
                <div class="row mb-2">
                    <div class="col-lg-4">
                        <div class="card border-0 shadow" style="background-color: #4158D0;
                        background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
                        ">
                            <div class="card-body">
                                <h5 class="card-title text-white"><b>รวบรวมรูปภาพ #eatmod บน IG</b></h5>
                                <p class="card-text text-white">เป็นส่วนหนึ่งในการบอกต่ออาหารเด็ด! ด้วยการติด #eatmod บนโพสต์เกี่ยวกับอาหารที่กินในรั้ว  มจธ.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="findMenu" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="findMenu-form">
                    <div class="modal-header">
                        <h5 class="modal-title">ค้นหาเมนูที่ตรงใจคุณ!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="form-group mb-4">
                            <h6 class="text-muted">ประเภทเนื้อ</h6>
                            <div class="input-group justify-content-center">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findmeattype1" name="findmeattype" value="หมู" class="custom-control-input">
                                    <label class="custom-control-label" for="findmeattype1">หมู</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findmeattype2" name="findmeattype" value="ไก่" class="custom-control-input">
                                    <label class="custom-control-label" for="findmeattype2">ไก่</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findmeattype3" name="findmeattype" value="ปลา" class="custom-control-input">
                                    <label class="custom-control-label" for="findmeattype3">ปลา</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <h6 class="text-muted">ประเภทเมนู</h6>
                            <div class="input-group justify-content-center">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findfoodtype1" name="findfoodtype" value="ข้าว" class="custom-control-input">
                                    <label class="custom-control-label" for="findfoodtype1">ข้าว</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findfoodtype2" name="findfoodtype" value="ก๋วยเตี๋ยว" class="custom-control-input">
                                    <label class="custom-control-label" for="findfoodtype2">ก๋วยเตี๋ยว</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findfoodtype3" name="findfoodtype" value="น้ำ" class="custom-control-input">
                                    <label class="custom-control-label" for="findfoodtype3">น้ำ</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findfoodtype4" name="findfoodtype" value="กาแฟ" class="custom-control-input">
                                    <label class="custom-control-label" for="findfoodtype4">กาแฟ</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <h6 class="text-muted">อาหารฮาลาลหรือไม่</h6>
                            <div class="input-group justify-content-center">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findhalal1" name="findhalal" value="" class="custom-control-input">
                                    <label class="custom-control-label" for="findhalal1">ไม่ฮาลาล</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="findhalal2" name="findhalal" value="ฮาลาล" class="custom-control-input">
                                    <label class="custom-control-label" for="findhalal2">ฮาลาล</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer py-1">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">ค้นหา</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>
</body>

</html>