<%- include('includes/header') %>

<body>
    <%- include('includes/nav') %>

    <div class="container">
        <nav>
            <ol class="breadcrumb bg-transparent py-2 mb-0">
                <li class="breadcrumb-item"><a href="/">หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="/shop">ร้านอาหาร</a></li>
                <li class="breadcrumb-item active"><%= name %></li>
            </ol>
        </nav>

        <div class="text-center">
            <h2 class="mt-4 mb-0"><%= name %></h2>
            <small class="lead"><%= type %></small>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="d-inline"><span class="badge badge-secondary"><%= rating %><i class="fas fa-star text-white"></i></span></h5><small> <%= allRatings %> เรตติ้ง</small>
                                        <h5 class="d-inline"><span class="badge badge-primary"><%= reviewsCount %> รีวิว <i class="fas fa-comment text-white"></i></span></h5><small> <%= reviewsCount %> รีวิว</small>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <% if (!user) { %>
                                            <a class="btn btn-sm btn-outline-dark" data-toggle="modal" data-target="#reviewModal"><i class="far fa-comment-dots text-primary"></i> เขียนรีวิว</a>
                                        <% } else { %>
                                            <a class="btn btn-sm btn-outline-dark" href="/login"><i class="far fa-comment-dots text-primary"></i> เขียนรีวิว</a>
                                        <% } %>
                                        <button type="button" class="btn btn-sm btn-outline-dark"><i class="far fa-share-square text-primary"></i> แชร์</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4 mb-lg-0 mb-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">เมนูที่แนะนำ</h5>
                                <div class="row d-flex justify-content-center">
                                    <% menuImages.forEach((image) => { %>
                                        <img class="mr-2 mb-2" src="<%= image %>" style="object-fit: cover" width="100px" height="100px">
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">เวลาเปิด-ปิด</h5>
                        <h6 class="card-subtitle mb-2 text-muted">ทุกวัน <%= openTime %> - <%= closeTime %> น.</h6>
                        <h5 class="card-title mt-4">ช่วงราคา</h5>
                        <% if (minPrice == maxPrice) { %>
                            <h6 class="card-subtitle mb-2 text-muted"><%= minPrice %> บาท</h6>
                        <% } else { %>
                            <h6 class="card-subtitle mb-2 text-muted"><%= minPrice %> - <%= maxPrice %> บาท</h6>
                        <% } %>
                        <h5 class="card-title mt-4">สถานที่</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= location %></h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="row">
                    <%
                        reviews.forEach((review) => {
                    %>
                        <div class="col-lg-12 mt-4">
                            <div class="card shadow">
                                <div class="card-body">
                                    <div class="d-flex flex-row align-items-center justify-content-between">
                                        <small><%= review.name %></small>
                                        <small class="text-muted"><%= review.date %></small>
                                    </div>
                                    <div class="mt-1 mb-0">
                                        <span>
                                            <% for (let i = 0; i < rating; i++) { %>
                                                <i class="fa fa-star text-secondary"></i>
                                            <% } %>
                                            <% for (let i = 0; i < (5 - rating); i++) { %>
                                                <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.25)"></i>
                                            <% } %>
                                        </span>
                                    </div>
                                    <h5 class="mt-3 mb-1"><%= review.title %></h5>
                                    <h6>เมนูแนะนำ: <%= review.recommend %></h6>
                                    <p class="text-muted"><%= review.review %></p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>

    <div id="reviewModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="review-form">
                    <input type="hidden" name="shopId" value="<%= id %>">
                    <div class="modal-header">
                        <h5 class="modal-title"><small>เขียนรีวิว</small> <span class="text-primary">ร้าน<%= name %></span></h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center mb-3">
                            <h5>ให้คะแนนร้านนี้</h5>
                            <span>
                                <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.25)"></i>
                                <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.25)"></i>
                                <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.25)"></i>
                                <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.25)"></i>
                                <i class="fa fa-star" style="color: rgba(0, 0, 0, 0.25)"></i>
                            </span>
                        </div>

                        <div class="form-group input-group-sm">
                            <label class="mb-1">หัวเรื่อง</label>
                            <input id="review-title" name="title" class="form-control" type="text" autocomplete="off" placeholder="อธิบาย ความพอใจ/ไม่พอใจ ต่อร้านนี้">
                        </div>
                        <div class="form-group input-group-sm">
                            <label class="mb-1">รายละเอียดรีวิว</label>
                            <textarea id="review-description" name="review" class="form-control" rows="3" placeholder="เขียนรายละเอียดรีวิวให้เหมือนการเล่าให้คนอื่นฟัง"></textarea>
                        </div>
                        <div class="form-group input-group-sm">
                        <label>เมนูแนะนำ</label>
                            <select id="reivew-recommendMenu" name="foodId" class="form-control">
                                    <option value="0">ไม่มี</option>
                                <% menus.forEach((menu) => { %>
                                    <option value="<%= menu.id %>"><%= menu.name %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">บันทึกรีวิว</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>
</body>