<%- include('includes/header') %>

<body>
    <%- include('includes/nav') %>

    <div class="container">
        <nav>
            <ol class="breadcrumb bg-transparent py-2 mb-0">
                <li class="breadcrumb-item"><a href="/">หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="/shop">ร้านอาหาร</a></li>
                <li class="breadcrumb-item active"><%= name %></li>
            </ol>
        </nav>

        <div class="text-center">
            <h2 class="mt-4 mb-0"><%= name %></h2>
            <small class="lead"><%= type %></small>
        </div>
        <hr class="my-4">

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="d-inline"><span class="badge badge-secondary"><%= rating %><i class="fas fa-star text-white"></i></span></h5><small> <%= allRatings %> เรตติ้ง</small>
                                        <h5 class="d-inline"><span class="badge badge-primary"><%= reviews %> รีวิว <i class="fas fa-comment text-white"></i></span></h5><small> <%= reviews %> รีวิว</small>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <button type="button" class="btn btn-sm btn-outline-dark"><i class="far fa-comment-dots text-primary"></i> เขียนรีวิว</button>
                                        <span class="align-text-top ml-2">ให้คะแนนร้านนี้</span>
                                        <span class="align-text-top">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 mt-4 mb-lg-0 mb-4">
                        <div class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">เมนูที่แนะนำ</h5>
                                <div class="row d-flex justify-content-center">
                                    <% menuImages.forEach((image) => { %>
                                        <img class="mr-2 mb-2" src="<%= image %>" style="object-fit: cover" width="100px" height="100px">
                                    <% }); %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">เวลาเปิด-ปิด</h5>
                        <h6 class="card-subtitle mb-2 text-muted">ทุกวัน <%= openTime %> - <%= closeTime %> น.</h6>
                        <h5 class="card-title mt-4">ช่วงราคา</h5>
                        <h6 class="card-subtitle mb-2 text-muted">25 - 35 บาท</h6>
                        <h5 class="card-title mt-4">สถานที่</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><%= location %></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>
</body>